<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tang.core.modules.channel.mapper.ChannelsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.tang.core.modules.channel.model.Channels">
        <id column="channel_id" property="channelId" />
        <result column="channel_name" property="channelName" />
        <result column="channel_type" property="channelType" />
        <result column="is_disabled" property="isDisabled" />
        <result column="proxy_address" property="proxyAddress" />
        <result column="create_time" property="createTime" />
        <result column="create_user_id" property="createUserId" />
        <result column="del_flag" property="delFlag" />
        <result column="version" property="version" />
    </resultMap>

</mapper>
