<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tang.core.modules.config.mapper.SysConfigMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.tang.core.modules.config.model.SysConfig">
        <id column="sys_config_id" property="sysConfigId" />
        <result column="sys_name" property="sysName" />
        <result column="sys_code" property="sysCode" />
        <result column="sys_value" property="sysValue" />
    </resultMap>

</mapper>
